@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

@font-face {
font-family: 'Great Vibes';
src: url('./Fonts/shakespeare.txt') format('opentype');
font-weight: ;
font-style: ;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

h4 {
  font-size: 1.2em;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

h5 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

h6 {
  font-family: 'Permanent Marker', cursive;
}

p {
  font-size: 1.4em;
  text-align: center;
}

.change-01 {
  font-kerning: none;
}
